<?xml version="1.0"?>
<robot name="stair_2_steps">

  <material name="grey">
    <color rgba="1 1 0.7 1"/>
  </material>

  <link name="world"/>

  <joint name="fixed_to_world" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0.45 0 0" rpy="0 0 0"/>
  </joint>
  <link name="base_link" />

  <link name="step_1">
    <visual>
      <origin xyz="0.2 0 0.075" rpy="0 0 0"/>
      <geometry>
        <box size="0.4 1.0 0.15"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin xyz="0.2 0 0.075" rpy="0 0 0"/>
      <geometry>
        <box size="0.4 1.0 0.15"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_to_step_1" type="fixed">
    <parent link="base_link"/>
    <child link="step_1"/>
  </joint>

  <link name="step_2_top">
    <visual>
      <origin xyz="0.8 0 0.15" rpy="0 0 0"/>
      <geometry>
        <box size="0.8 1.0 0.30"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin xyz="0.8 0 0.15" rpy="0 0 0"/>
      <geometry>
        <box size="0.8 1.0 0.30"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_to_step_2" type="fixed">
    <parent link="base_link"/>
    <child link="step_2_top"/>
  </joint>

  <link name="step_3">
    <visual>
      <origin xyz="1.4 0 0.075" rpy="0 0 0"/>
      <geometry>
        <box size="0.4 1.0 0.15"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin xyz="1.4 0 0.075" rpy="0 0 0"/>
      <geometry>
        <box size="0.4 1.0 0.15"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_to_step_3" type="fixed">
    <parent link="base_link"/>
    <child link="step_3"/>
  </joint>

</robot>